#loginMain{
    @include flexCenter;
    height: 100vh
}
form{
    @include borderRadius(100px);
    @include flexCenter;
    flex-flow: column;
    margin: 0 auto;
    width: 650px;
    height: 450px;
    background-color: map-get($color, secondary );
    color: map-get($color, tertiary );
    position: sticky;
    @include boxShadow(2px, 5px, 7px, 1px, rgba(0, 0, 0, 0.2));
}
.divLogin{
    display: flex;
    flex-direction: column;

}
input{
    outline: none;
    border: 0;
}
.field{
    padding: 10px;
    margin: 10px;
    @include borderRadius(100px);
    width: 300px;
    color: #1f273e;
    background-color: map-get($color, tertiary );
    @include boxShadow(2px, 5px, 7px, 1px, rgba(0, 0, 0, 0.2));
}
label{
    align-self: start;
    padding-left: 90px;
}
.entrar{
    width: 150px;
    @include borderRadius(100px);
    border: none;
    background-color: map-get($color, primary );
    color: map-get($color, tertiary );
    padding: 10px;
    margin: 10px;
    @include boxShadow(2px, 5px, 7px, 1px, rgba(0, 0, 0, 0.2));
}
.entrar:hover{
    background-color: #1f273e;
    animation: pulse;
    animation-duration: 2s;
}



