#bodyNosotros {
  height: auto;
}
/*SECTIONS,TEXTOS Y DIVS*/
.sectionNosotros {
  grid-area: section;
  height: 200px;
  @include flexCenter;
  background-color: #e8eeff;
  @include boxShadow(2px, 5px, 7px, 1px, rgba(0, 0, 0, 0.2));
}

#texto {
  margin: 20px;
  @include flexCenter;
  flex-wrap: wrap;
  font-size: 20px;
  height: auto;
}
.nosotros-container {
  background-color: map-get($color, tertiary);
  @include flexCenter;
  flex-wrap: wrap;
  height: auto;
  width: 75%;
  margin: 15px;
  padding: 10px;
  @include borderRadius(10px);
  
}
.nosotros-texto {
  padding: 15px;
  margin: 15px;
  width: 600px;
  height: auto;
  font-size: 1.1rem;
  color: map-get($color, primary);
  text-align: justify;
}
.nosotros-texto2 {
  width: 90%;
  text-align: center;
  font-size: 1em;
  padding: 10px;
  color: map-get($color, primary);
  text-align: justify;
}
.imagenNosotros {
  padding: 15px;
  width: 500px;
  height: 400px;
  @include borderRadius(25px);
}
#sectionNosotros {
  margin: 20px;
  flex-direction: column;
  flex-wrap: wrap;
  @include flexCenter;
  font-size: 20px;
  height: auto;
}
#sectionNosotros div {
  @include flexCenter;
  flex-wrap: wrap;
  width: 75%;
  @include borderRadius(10px);
}

#sectionNosotros div div {
  @include flexCenter;
  width: 75%;
  @include borderRadius(10px);
}
