@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
@import 'mixing';
@import 'maps';
@import 'header';
@import 'footer';
@import 'login';
@import 'index';
@import 'nosotros';
@import 'producto';
@import 'tienda';
@import 'querrys';

/*FONTS*/



/*RESET Y FONTS GLOBALES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 200;
}
/*-BODY-------------------------------------*/

body {
  background-color: #dde6ed;
  height: auto;
  width: 100%;
}

/*-NAVBAR/HEADER-------------------------------------*/









/*-TIENDA-------------------------------------*/

/*-FORMULARIO PAGINA LOGIN-------------------------------------*/

/*-BOTON DE LOG --------------------------------*/









