@import 'mixing';
@import 'maps';
@import 'header';
@import 'footer';
@import 'login';
@import 'index';
@import 'querrys';
@import 'tienda';
@import 'nosotros';
@import 'producto';


/*FONTS*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

/*RESET Y FONTS GLOBALES*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", "Times New Roman", Times, serif;
  font-weight: 200;
}
/*-BODY-------------------------------------*/

body {
  background-color: #dde6ed;
  height: auto;
}

/*-NAVBAR/HEADER-------------------------------------*/









/*-TIENDA-------------------------------------*/

/*-FORMULARIO PAGINA LOGIN-------------------------------------*/

/*-BOTON DE LOG IN-------------------------------------*/


/*-FOOTER-------------------------------------*/







